/*TITULO Lapus napoleon franco*/
#div_Titulo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
/*div ACOMODACION ID Y NOMBRE DE CANDIDATO*/
#div_RegistroCandidatos {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
/*ESTILO DE CAMPO DE TEXTO id*/
#id_Candidato{
    margin: 5px;
    height: 20px;
    border: 1px solid rgb(140, 0, 255);
    padding-left: 5px;

}
/*ESTILO DE CAMPO DE TEXTO nombre candidato*/
#Nombre_Candidato{
    margin: 5px;
    height: 20px;
    border: 1px solid rgb(140, 0, 255);
    padding-left: 5px;

}
/*ESTILO BOTON registrar*/
#boton_Registrar{
    margin: 15px;
    border-color: rgb(252, 136, 58);
    background-color: rgb(250, 92, 0);
    color:rgb(255, 255, 255);
     cursor: pointer; /*ESTA ES LA SUPER MANO*/
}
/*div ACOMODACION id candidato 2 y boton de votaciones*/
#div_votaciones {
   /* margin: 10px;*/
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

}
/*CAMPOS DE TEXTO id candidato votaciones*/
#texto_Indicaciones2{
    margin: 5px;
    height: 20px;
    border: 1px solid rgb(140, 0, 255);
    padding-left: 5px;

}
/*ESTILO BOTON votar*/
#boton_votar{
    margin: 15px;
    border-color: rgb(252, 136, 58);
    background-color: rgb(250, 92, 0);
    color:rgb(255, 255, 255);
     cursor: pointer;/*ESTA ES LA SUPER MANO*/

}



